$color-blue: #4a99d3;
$color-orange: #d3844a;
$color-text-black-1: #260041;
$color-text-black-2: #0f001a;

@font-face {
   font-family: "Objective";
   src: local("Objective"), url("../fonts/Objective_Woff2/Objective-Regular.woff2") format("woff2");
}

html {
   box-sizing: border-box;
   font-family: Objective;
}

* {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

.wrapper {
   overflow: hidden;
   flex-direction: column;
   min-height: 100%;
   background: linear-gradient(lighten($color-blue, 41%), white);
}

.header {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: space-between;
   padding-top: 45px;
}

////////// SECTION-1

.section-1 {
   height: 100vh;
   box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.06);
}

.container {
   max-width: 66%;
   margin: 0 auto;
   padding: 0 15px;
}

.main {
   margin-top: 10.42vw;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.main-info {
   color: $color-text-black-1;
   min-width: 495px;

   h1 {
      font-size: 50px;
      padding: 10px 0 10px 0;
      margin-bottom: 14px;
      line-height: 70px;
   }
   p {
      font-size: 20px;
      margin-bottom: 60px;
      max-width: 890px;
      line-height: 36px;
   }
}

.main-btn {
   img {
      width: 180px;
   }

   a {
      transition: opacity 0.1s ease;
      &:hover,
      &:focus {
         opacity: 85%;
      }
      &:first-child {
         margin-right: 20px;
      }
   }
}

.main-phones {
   margin-right: -159px;
   margin-top: -5.42vw;
}

////////// SECTION-2

.background::after {
   content: "";
   display: block;
   background: url(../img/back-rect-1.svg) no-repeat;
   position: absolute;
   top: 95%;
   bottom: 0;
   left: 50%;
   right: 0;
   z-index: 2;
}

.content {
   margin-top: 150px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 150px;

   h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 46px;
      width: 392px;
   }
}

.container-small {
   width: 284px;
   margin: 0 auto;
}

.card {
   width: 380px;
   color: $color-text-black-2;

   box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
   border-radius: 10px;

   img {
      display: block;
      margin: 0 auto;
   }

   h5 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.02em;
      margin: 60px 0 16px 0;
   }

   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      opacity: 0.6;
   }
}

.section-2-send {
   justify-self: right;
   position: relative;
   img {
      margin-top: -24px;
   }
}

.section-2-receive {
   margin-top: -216px;
   height: 525px;
   margin-left: 85px;
   img {
      margin-top: 48px;
      margin-left: 61px;
   }
}

.section-2-buy {
   margin-top: 113px;
   justify-self: right;
   img {
      margin-top: 48px;
      margin-left: 81px;
   }
}

.learn-more {
   box-sizing: border-box;
   width: 127px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 52px 0 48px 0;
   width: 115px;
   font-size: 14px;
   line-height: 30px;
   color: $color-blue;
   display: inline-block;
   background: url(../img/section-2-arrow.svg) no-repeat 95% center;
   transition: 0.2s all;

   &:hover,
   &:focus {
      background: url(../img/section-2-arrow.svg) no-repeat right center;
   }
}

////////// SECTION-3

.section-3 {
   background: rgba(74, 153, 211, 0.1);

   h3 {
      padding: 95px 0 92px 0;
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      line-height: 27px;
      color: $color-blue;
   }
}

.card-section-3 {
   width: 224px;
   text-align: center;
   margin-bottom: 95px;

   h5 {
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      margin-bottom: 10px;
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $color-text-black-1;
   }
   img {
      margin-bottom: 37.5px;
   }
}

.section-3-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

////////// SECTION-4

.section-4 {
   text-align: center;
   padding-top: 150px;
   h3 {
      margin-bottom: 130px;
      font-weight: 700;
      font-size: 26px;
      line-height: 27px;
      color: $color-text-black-2;
   }
}

.download {
   display: flex;
   justify-content: space-between;
}

.phones-section-4 {
   margin-top: 158px;
   margin-left: -10%;
}

.download-section-4 {
   margin-top: 272px;
   max-width: 444px;
   h3 {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 25px;
      line-height: 26px;
   }
   p {
      margin-bottom: 60px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-text-black-2;
      opacity: 0.5;
   }
}

////////// SLIDER

.slider .slick-arrow {
   position: absolute;
   top: 100%;
   right: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 0;
   width: 80px;
   height: 80px;
   border: 0;
   cursor: pointer;
}

.slider .slick-arrow.slick-prev {
   right: 80px;
   background: url("../img/section-4-btn-left.svg") 0 0 / 100% no-repeat;
   transition: opacity 0.1s ease;
   &:hover {
      opacity: 0.8;
   }
}

.slider .slick-arrow.slick-next {
   background: url("../img/section-4-btn-right-1.svg") center no-repeat;
   width: 80px;
   height: 80px;
   box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   background-color: white;
   transition: opacity 0.1s ease;
   &:hover {
      opacity: 0.8;
   }
}

.review-wrap {
   margin: 0 auto;
   max-width: 1230px;
}

.review {
   width: 100%;
   display: flex;
   flex-flow: row wrap;
}

.image-wrap {
   width: 677px;
}
.review-image {
   width: 100%;
}

.review-info {
   width: 418px;
   margin-top: 200px;

   img {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 43px;
   }
   p {
      text-align: left;
      width: 100%;
      color: $color-text-black-2;
      opacity: 0.5;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
   }
   h5 {
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
   }
}

.slick-slide {
   display: flex !important;
   flex-flow: row wrap;
   justify-content: space-between;
}

////////// FOOTER

.footer {
   margin-top: 123px;
   color: white;
   background-color: $color-blue;
   ul {
      margin: 34px 60px 28px 0;
      list-style: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
   }
   li {
      margin-top: 18px;
      cursor: pointer;
      &:hover {
         opacity: 0.6;
      }
   }
   h5 {
      width: fit-content;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      padding-bottom: 4px;
      border-bottom: 2px solid white;
   }
}

.footer-container {
   margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   width: 1165px;
   padding: 0 15px;
   justify-content: space-between;
   padding-top: 55px;
}

.footer-logo {
   margin-right: 145px;
}

.footer-nav {
   display: flex;
   flex-flow: row wrap;
}

.footer-subscribe {
   width: 394px;

   p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
   }
}

.subscribe-form {
   display: flex;
   flex-direction: row;
   img {
      &:hover {
         opacity: 0.9;
      }
   }
   input {
      margin-right: 10px;
   }

   input {
      height: 50px;
      width: 268px;
      border-radius: 3px;
      border: none;
      &::placeholder {
         color: black;
         opacity: 0.5;
         padding-left: 10px;
      }
      &:focus {
         outline: none;
      }
   }
}

.footer-bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 23px 23px;
   p {
      font-weight: 700;
      font-size: 10.41px;
      line-height: 11px;
      margin: auto 0;
   }
   .links {
      a {
         margin-right: 25px;
         &:last-child {
            margin-right: 0;
         }
      }
   }
}

////////// MEDIA //////////

/* PC */
@media (min-width: 1455px) {
   .container {
      max-width: 950px;
   }
}

@media (max-width: 1160px) {
   .container {
      max-width: 80%;
   }
   .main-phones {
      img {
         margin-right: 50px;
      }
   }
   .content {
      column-gap: 10px;
   }

   .review-wrap {
      width: 70%;
   }

   .footer-container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .footer-logo {
         align-self: flex-start;
      }
      .footer-subscribe {
         margin: 20px 20px;
      }
   }

   .footer-bottom {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
   }
}

/* TABLET */
@media (max-width: 991.98px) {
   .review-wrap {
      width: 80%;
   }

   .container {
      max-width: 100%;
   }
   .main-info {
      width: 70%;
   }
   .main-phones {
      margin-right: 30px;
      width: 441px;
      img {
         width: 100%;
      }
   }

   .content {
      column-gap: 10px;

      .section-2-receive {
         margin-left: 0;
      }
   }

   .download {
      flex-wrap: wrap;
   }

   .download-section-4 {
      margin-top: 50px;
      margin: 0 auto;
   }

   .phones-section-4 {
      margin: 0 auto;
      margin-top: 200px;
      margin-bottom: 50px;
   }

   .review-info,
   .slick-arrow {
      margin: 15px 15px;
   }

   .review-info {
      margin-top: 50px !important;
   }

   .image-wrap {
      width: 677px;
      img {
         width: 100%;
      }
   }
}

/* MOBILE */
@media (max-width: 767.98px) {
   .header {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 15px;
   }

   .review-wrap {
      width: 95%;
   }

   .main-btn {
      a:first-child {
         margin: 0;
      }
   }

   .main {
      justify-content: center;
   }

   .main-info {
      text-align: center;
   }

   .main-phones {
      display: none;
   }

   .content {
      grid-template-columns: 1fr;
      .card {
         position: relative;
      }
      .card {
         margin: 0;
         margin-top: 20px;
      }
   }

   .footer-logo {
      margin-bottom: 50px;
   }
}

/* SMALL */
@media (max-width: 529px) {
   .container,
   .footer-container {
      width: 100%;
      padding: 0 5px;
      height: fit-content;
   }

   .header {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 15px;
   }

   .main-info {
      min-width: 100%;
      h1 {
         font-size: 2rem;
      }
      p {
         font-size: 1rem;
      }
   }
   .main-btn {
      a {
         display: flex;
         flex-direction: row;
         justify-content: center;
      }
      a:first-child {
         margin: 0 0 10px 0;
      }
   }

   .content-title {
      width: 90%;
      margin-bottom: 20px;
      h2 {
         width: auto;
      }
   }
   .container-small {
      width: 95%;
      margin: 0 auto;
      p {
         width: 85%;
      }
   }

   .section-3-cards {
      justify-content: center;
   }

   .main-phones,
   .background {
      display: none;
   }

   .section-4 {
      h3 {
         margin-top: 50px;
      }
   }

   .download-section-4 {
      width: 100%;
      margin: 0 auto;
   }

   .phones-section-4 {
      width: 100%;
      img {
         width: 100%;
      }
   }

   .buttons-download {
      margin: 0 auto;
      img {
         width: 165px;
      }
   }

   .footer-logo {
      margin-top: 5px;
   }
   .footer-bottom {
      margin: 5px 5px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      p,
      .links {
         margin: 5px 5px;
      }
      .links {
         margin: 20px 20px;
      }
   }
   .footer-subscribe {
      width: 90%;
   }
   .subscribe-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      input,
      a {
         margin-top: 10px;
      }
   }
}
